In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

### 데이터 수집, 준비

In [3]:
baby_df = pd.read_csv("./babyInfo.csv")
baby_df

,_id,days,desc,gender,__v,growth
0,6355f90b520fc1161d430b2a,0,20일 mn 부터 21 md 꼬박 열두시간을 \n유도분만 끝에 실패 .....c/...,F,0,NaN
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
2,6261cb9eee57fb52c7c7210a,0,4월 21일 목요일\n\n밤 9시 병원 \n자궁수축 50\n경부 1cm\n진통 심함...,F,0,NaN
3,61938fa93433d7ca11307585,0,내일이면 우리 또복이 곧 태여날 것입니다~엄마 아빠 너무너무 셀레고 긴장되고 기대가...,M,0,NaN
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."
228299,60084b1aff925e1bdd5a5453,135,드디어 백일촬영 끝~~\n총 4콘셉을 찍는건데 처음에 갔을때 두컨셉 찍고\n오늘 나...,F,0,NaN
228300,60011980ff925e1bdd37c058,135,낮잠 안자고도 밤잠 안자려 버틴다. 3번 실패후 4번째 눕히자 혼자 중얼거리다가 잠...,F,0,NaN
228301,5fed0afcb404d75b9e45b63b,135,혼자 뒤집기 성공,M,0,NaN
228302,5feb0d6aa239f2047cc8c0a2,135,누워만 있을 때는 얼른 뒤집었으면 좋겠다 했는데\n뒤집고 보니 지옥이고\n미친듯이 ...,F,0,NaN

In [4]:
baby_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228303 entries, 0 to 228302
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   _id     228303 non-null  object
 1   days    228303 non-null  int64
 2   desc    172609 non-null  object
 3   gender  228301 non-null  object
 4   __v     228303 non-null  int64
 5   growth  113527 non-null  object
dtypes: int64(2), object(4)
memory usage: 10.5+ MB

In [5]:
baby_df.isna().sum()

_id            0
days           0
desc       55694
gender         2
__v            0
growth    114776
dtype: int64

In [6]:
baby_growth_df = baby_df.dropna(subset=['growth','gender']) # growth, gender 결측치 제거
baby_growth_df

,_id,days,desc,gender,__v,growth
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'..."
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ..."
6,5f2029e1d00f40614904254f,0,"d-1, 예정일보다 하루빨리 태어난 우리 꼬물이ღ\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ..."
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ..."
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ..."
...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"분유 양이 줄어 걱정햇는데 잘크고 있다\n태어난 몸무게 딱 2배 됏구,\n\n피부 ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ..."
228293,603e8290de6eeaaca4b8a535,135,여원이 뒤집기 반 성공!\n반성공인 이유는 스스로 별로 뒤집을 생각은 없음\n그러나...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':..."
228294,603c9529c5f15932e1040246,135,"4개월 11일 (134day) 발달기록\n꺄르르 꺄르르 웃는, 예뻐서 죽을 것 같은...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'..."
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ..."
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':..."

In [7]:
baby_growth_df.isna().sum()

_id           0
days          0
desc      54050
gender        0
__v           0
growth        0
dtype: int64

In [8]:
baby_growth_df['growth']

1         {'weight': {'value': 2.77, 'unit': 'kg', 'std'...
4         {'height': {'value': 49, 'unit': 'cm', 'std': ...
6         {'height': {'value': 47, 'unit': 'cm', 'std': ...
7         {'height': {'value': 55, 'unit': 'cm', 'std': ...
10        {'height': {'value': 50, 'unit': 'cm', 'std': ...
                                ...
228292    {'height': {'value': 67, 'unit': 'cm', 'std': ...
228293    {'weight': {'value': 8.1, 'unit': 'kg', 'std':...
228294    {'height': {'value': 65.5, 'unit': 'cm', 'std'...
228297    {'height': {'value': 70, 'unit': 'cm', 'std': ...
228298    {'weight': {'value': 7.3, 'unit': 'kg', 'std':...
Name: growth, Length: 113527, dtype: object

In [9]:
import ast
baby_growth_df['growth'] = baby_growth_df['growth'].apply(ast.literal_eval) # 문자열 -> 딕셔너리 형태로 변환
baby_growth_df['height'] = baby_growth_df['growth'].apply(lambda x: x.get('height', {}).get('value', None))
baby_growth_df['weight'] = baby_growth_df['growth'].apply(lambda x: x.get('weight', {}).get('value', None))

In [10]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, 예정일보다 하루빨리 태어난 우리 꼬물이ღ\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"분유 양이 줄어 걱정햇는데 잘크고 있다\n태어난 몸무게 딱 2배 됏구,\n\n피부 ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,여원이 뒤집기 반 성공!\n반성공인 이유는 스스로 별로 뒤집을 생각은 없음\n그러나...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4개월 11일 (134day) 발달기록\n꺄르르 꺄르르 웃는, 예뻐서 죽을 것 같은...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30

In [11]:
baby_growth_df['height'].isna().sum()

69522

In [12]:
baby_growth_df['weight'].isna().sum()

1311

In [13]:
baby_growth_df[baby_growth_df['weight'].isna() & baby_growth_df['height'].isna()] # height,weight 둘 다 결측치인 데이터 확인

,_id,days,desc,gender,__v,growth,height,weight
2239,63490ebc4f30a39628aefdc9,19,어찌저찌 어제보다는 오늘 한결 수월하다!\n그래도 할일은 너무 많고\n너가 울면 어...,M,0,"{'head': {'value': 37, 'unit': 'cm', 'std': 37}}",NaN,NaN
6393,63a96fee0ec395c9ce32feb3,54,NaN,M,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9350,6325346f204f507df3e5a1b3,78,78일차 아가 성장표\n\n🎀모빌도 좋아하지만 이제는 아기체육관을 더 좋아함\n🎀잘...,F,0,"{'head': {'value': 41, 'unit': 'cm', 'std': 41}}",NaN,NaN
9414,638bd1daffe5f9567ae18982,79,🤎11시간 통잠 4일차 \n🤎밤잠 시작 시간을 7:30pm으로 본인이 정한 듯함\n...,F,0,"{'head': {'value': 39, 'unit': 'cm', 'std': 39}}",NaN,NaN
9920,63639f4e7382e0031c9b5560,83,NaN,M,0,"{'head': {'value': 39.6, 'unit': 'cm', 'std': ...",NaN,NaN
...,...,...,...,...,...,...,...,...
223985,590c7241b9ede03a5c586eb9,131,NaN,M,0,"{'head': {'std': 43, 'value': 43, 'unit': 'cm'}}",NaN,NaN
224346,61080e04babd662a6282d83c,132,NaN,M,0,"{'head': {'value': 42.5, 'unit': 'cm', 'std': ...",NaN,NaN
225178,59bfb0b41787fa4328598fe9,132,NaN,M,0,"{'head': {'unit': 'cm', 'value': 43, 'std': 43}}",NaN,NaN
226391,5a1cb41c01a81b7476aa0877,133,NaN,M,0,"{'head': {'value': 42.9, 'unit': 'cm', 'std': ...",NaN,NaN
227432,5c7924b0f69662488be8eea4,134,누워서 낮잠도 예쁘게 잘자고 잘놀고 이쁜짓을 많이 해서 할아버지가 하루종일 이쁘다고...,F,0,"{'head': {'std': 42, 'value': 42, 'unit': 'cm'}}",NaN,NaN

In [14]:
baby_growth_df = baby_growth_df.dropna(axis='index', how='all', subset=['height','weight']) # 둘 다 결측치인 데이터 제거

In [15]:
baby_growth_df

,_id,days,desc,gender,__v,growth,height,weight
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,F,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77
4,6126a5d95aba962baf30b061,0,39주6일 한복이탄생일🖤 도치맘등극😂,F,0,"{'height': {'value': 49, 'unit': 'cm', 'std': ...",49.0,2.94
6,5f2029e1d00f40614904254f,0,"d-1, 예정일보다 하루빨리 태어난 우리 꼬물이ღ\n2020 07 28, am01:...",F,0,"{'height': {'value': 47, 'unit': 'cm', 'std': ...",47.0,2.41
7,5eead032fa916d81a3886820,0,NaN,F,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81
10,5e3ce41414952390ba35e28e,0,NaN,F,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32
...,...,...,...,...,...,...,...,...
228292,604c430ec1702c2730c6d0e9,135,"분유 양이 줄어 걱정햇는데 잘크고 있다\n태어난 몸무게 딱 2배 됏구,\n\n피부 ...",F,0,"{'height': {'value': 67, 'unit': 'cm', 'std': ...",67.0,7.60
228293,603e8290de6eeaaca4b8a535,135,여원이 뒤집기 반 성공!\n반성공인 이유는 스스로 별로 뒤집을 생각은 없음\n그러나...,F,0,"{'weight': {'value': 8.1, 'unit': 'kg', 'std':...",NaN,8.10
228294,603c9529c5f15932e1040246,135,"4개월 11일 (134day) 발달기록\n꺄르르 꺄르르 웃는, 예뻐서 죽을 것 같은...",M,0,"{'height': {'value': 65.5, 'unit': 'cm', 'std'...",65.5,8.20
228297,6019b7af10a0da5fc9f8ede2,135,NaN,F,0,"{'height': {'value': 70, 'unit': 'cm', 'std': ...",70.0,8.80
228298,600db044e3feb139a82d17cb,135,4개월 원더윅스가 이런것인가..\n\n너무 안쓰런 울애기\n목욕하고 쓰러지듯 잠들더...,M,0,"{'weight': {'value': 7.3, 'unit': 'kg', 'std':...",NaN,7.30

In [16]:
baby_growth_df['gender'].unique()

array(['F', 'M', 'U'], dtype=object)

In [17]:
baby_growth_df['gender'].value_counts()

M    61139
F    52135
U       34
Name: gender, dtype: int64

In [18]:
baby_growth_df = baby_growth_df[baby_growth_df['gender'] != 'U'] # 성별이 Unknown인 행 삭제

In [19]:
# 'gender' column 추출
gender = baby_growth_df['gender']

# 'gender' column을 one-hot 인코딩하여 새로운 데이터프레임 생성
gender_onehot = pd.get_dummies(gender, prefix='gender')

# 원래 데이터프레임과 합치기
baby_growth_df = pd.concat([baby_growth_df, gender_onehot], axis=1)

# 'gender' column 삭제
baby_growth_df = baby_growth_df.drop('gender', axis=1)

In [20]:
baby_growth_df.sort_values(by='days', inplace=True) # 생후 일 수로 오름차순 정렬

In [21]:
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender_F,gender_M
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77,1,0
27,58a77332aa513c7c8cf0a942,0,17.02.15\n새벽:5시50분 -이슬비침\n\n-계속 약한 배 통증있음 \n\n...,0,"{'head': {'value': 35.5, 'std': 35.5, 'unit': ...",49.0,3.20,1,0
22,59a610cf1787fa4f4a3a1905,0,NaN,0,"{'head': {'value': 34.5, 'unit': 'cm', 'std': ...",46.5,2.77,1,0
17,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,0,1
16,5ab023294ba8ac623954eec1,0,청각검사 정상,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,0,1
...,...,...,...,...,...,...,...,...,...
43779,60fd1030d88d65dfa2625762,365,NaN,0,"{'height': {'value': 79.7, 'unit': 'cm', 'std'...",79.7,10.30,0,1
43780,60e7cd722f0e2f96d8e1b099,365,젖병떼기 연습.\n빨대컵에 분유주기 시작.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",NaN,9.40,1,0
43783,60ac47a2214aa2f42de83cb8,365,NaN,0,"{'weight': {'value': 11.8, 'unit': 'kg', 'std'...",NaN,11.80,0,1
43743,625209693a0059de267cae3a,365,NaN,0,"{'weight': {'value': 3.2, 'unit': 'kg', 'std':...",NaN,3.20,1,0
54771,5e4fdd2bbf7c2d77972da014,365,쪽쪽이 끊기 1일차\n\n낮잠 2번 잘잠\n\n밤잠 울진않고 손빨거나 쪽쪽이 빠는행...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",NaN,8.20,1,0

In [22]:
baby_growth_df['days'] = pd.to_numeric(baby_growth_df['days'])
baby_growth_df['days'].dtypes

dtype('int64')

### 성별에 따른 dataframe 분리

In [23]:
male_df = baby_growth_df[baby_growth_df['gender_M']==1].copy()
female_df = baby_growth_df[baby_growth_df['gender_F']==1].copy()

In [24]:
male_df.drop(['gender_F'], axis=1, inplace=True)
male_df

,_id,days,desc,__v,growth,height,weight,gender_M
17,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1
16,5ab023294ba8ac623954eec1,0,청각검사 정상,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1
26,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1
57348,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",NaN,2.45,1
57352,5bc8208036373c1537505616,1,기쁨이가 태어났어요!!\n\n이틀 전부터 진통이 왔는데 5분주기의 짧은 진통은\n안...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1
...,...,...,...,...,...,...,...,...
43754,61d011ef31bdf016f11f6542,365,내일 생일이지만 오늘 집에서 셀프돌상차려서 \n간단하게 사진찍어줌 \n아침첫수하고 ...,0,"{'weight': {'value': 10.4, 'unit': 'kg', 'std'...",NaN,10.40,1
43770,61402995d8ba22cb4efe5a4f,365,혼자 일어서고 두세발짝 떼고 걷기시작 아직 혼자서 오래서있을순 없지만 조금씩 차근차...,0,"{'head': {'value': 48, 'unit': 'cm', 'std': 48...",NaN,11.50,1
43773,613ce981d8ba22cb4eddab90,365,드디어 우리리우 첫돌 하루남았다🎊\n리우가 벌써 돌이라니!\n비록 잔치는 11월로 ...,0,"{'height': {'value': 82, 'unit': 'cm', 'std': ...",82.0,13.20,1
43779,60fd1030d88d65dfa2625762,365,NaN,0,"{'height': {'value': 79.7, 'unit': 'cm', 'std'...",79.7,10.30,1
43783,60ac47a2214aa2f42de83cb8,365,NaN,0,"{'weight': {'value': 11.8, 'unit': 'kg', 'std'...",NaN,11.80,1

In [25]:
female_df.drop(['gender_M'], axis=1, inplace=True)
female_df

,_id,days,desc,__v,growth,height,weight,gender_F
1,62f8dd9bc2d4a7f9032b9c8d,0,총 수유량: 430 cc\n소변 횟수: 16\n대변: 2,0,"{'weight': {'value': 2.77, 'unit': 'kg', 'std'...",NaN,2.77,1
27,58a77332aa513c7c8cf0a942,0,17.02.15\n새벽:5시50분 -이슬비침\n\n-계속 약한 배 통증있음 \n\n...,0,"{'head': {'value': 35.5, 'std': 35.5, 'unit': ...",49.0,3.20,1
22,59a610cf1787fa4f4a3a1905,0,NaN,0,"{'head': {'value': 34.5, 'unit': 'cm', 'std': ...",46.5,2.77,1
10,5e3ce41414952390ba35e28e,0,NaN,0,"{'height': {'value': 50, 'unit': 'cm', 'std': ...",50.0,3.32,1
7,5eead032fa916d81a3886820,0,NaN,0,"{'height': {'value': 55, 'unit': 'cm', 'std': ...",55.0,3.81,1
...,...,...,...,...,...,...,...,...
43765,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",NaN,9.40,1
43772,613826c0c2c8aad5e5e99981,365,NaN,0,"{'height': {'value': 76.3, 'unit': 'cm', 'std'...",76.3,10.30,1
43780,60e7cd722f0e2f96d8e1b099,365,젖병떼기 연습.\n빨대컵에 분유주기 시작.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",NaN,9.40,1
43743,625209693a0059de267cae3a,365,NaN,0,"{'weight': {'value': 3.2, 'unit': 'kg', 'std':...",NaN,3.20,1
54771,5e4fdd2bbf7c2d77972da014,365,쪽쪽이 끊기 1일차\n\n낮잠 2번 잘잠\n\n밤잠 울진않고 손빨거나 쪽쪽이 빠는행...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",NaN,8.20,1

In [26]:
male_df.describe()

               days      __v        height        weight  gender_M
count  61139.000000  61139.0  24242.000000  60543.000000   61139.0
mean      85.686910      0.0     61.086630      6.774191       1.0
std       70.132039      0.0      8.407743     37.587581       0.0
min        0.000000      0.0      0.000000    -72.000000       1.0
25%       37.000000      0.0     57.000000      4.900000       1.0
50%       70.000000      0.0     61.300000      6.200000       1.0
75%      112.000000      0.0     65.800000      7.400000       1.0
max      365.000000      0.0    183.000000   3595.000000       1.0

In [27]:
female_df.describe()

               days      __v        height        weight  gender_F
count  52135.000000  52135.0  19742.000000  5.163900e+04   52135.0
mean      84.692145      0.0     59.363307  4.949475e+04       1.0
std       70.374731      0.0      8.229784  1.124594e+07       0.0
min        0.000000      0.0      0.000000 -7.550000e+01       1.0
25%       35.000000      0.0     55.000000  4.500000e+00       1.0
50%       70.000000      0.0     60.000000  5.700000e+00       1.0
75%      112.000000      0.0     63.900000  6.800000e+00       1.0
max      365.000000      0.0    160.000000  2.555552e+09       1.0

#### (1) KNNImputer 로 결측치 전처리

In [28]:
# from sklearn.impute import KNNImputer

In [29]:
# imputer = KNNImputer(n_neighbors=5)

In [30]:
"""
# male_df에서 height 칼럼의 결측치 처리
male_df_height = male_df['height'].values.reshape(-1, 1)
imputed_male_df_height = imputer.fit_transform(male_df_height)
male_df['height'] = imputed_male_df_height

# female_df에서 height 칼럼의 결측치 처리
female_df_height = female_df['height'].values.reshape(-1, 1)
imputed_female_df_height = imputer.fit_transform(female_df_height)
female_df['height'] = imputed_female_df_height
"""

"\n# male_df에서 height 칼럼의 결측치 처리\nmale_df_height = male_df['height'].values.reshape(-1, 1)\nimputed_male_df_height = imputer.fit_transform(male_df_height)\nmale_df['height'] = imputed_male_df_height\n\n# female_df에서 height 칼럼의 결측치 처리\nfemale_df_height = female_df['height'].values.reshape(-1, 1)\nimputed_female_df_height = imputer.fit_transform(female_df_height)\nfemale_df['height'] = imputed_female_df_height\n"

In [31]:
"""
# male_df에서 weight 칼럼의 결측치 처리
male_df_weight = male_df['weight'].values.reshape(-1, 1)
imputed_male_df_weight = imputer.fit_transform(male_df_weight)
male_df['weight'] = imputed_male_df_weight

# female_df에서 weight 칼럼의 결측치 처리
female_df_weight = female_df['weight'].values.reshape(-1, 1)
imputed_female_df_weight = imputer.fit_transform(female_df_height)
female_df['weight'] = imputed_female_df_weight
"""

"\n# male_df에서 weight 칼럼의 결측치 처리\nmale_df_weight = male_df['weight'].values.reshape(-1, 1)\nimputed_male_df_weight = imputer.fit_transform(male_df_weight)\nmale_df['weight'] = imputed_male_df_weight\n\n# female_df에서 weight 칼럼의 결측치 처리\nfemale_df_weight = female_df['weight'].values.reshape(-1, 1)\nimputed_female_df_weight = imputer.fit_transform(female_df_height)\nfemale_df['weight'] = imputed_female_df_weight\n"

In [32]:
male_df.isna().sum()

_id             0
days            0
desc        29127
__v             0
growth          0
height      36897
weight        596
gender_M        0
dtype: int64

In [33]:
female_df.isna().sum()

_id             0
days            0
desc        24761
__v             0
growth          0
height      32393
weight        496
gender_F        0
dtype: int64

#### (2) 값들의 평균값으로 대체

In [34]:
"""
male_df['height'] = male_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))
male_df['weight'] = male_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))
female_df['height'] = female_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))
female_df['weight'] = female_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))
"""

"\nmale_df['height'] = male_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))\nmale_df['weight'] = male_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))\nfemale_df['height'] = female_df.groupby('days')['height'].transform(lambda x: x.fillna(x.mean()))\nfemale_df['weight'] = female_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.mean()))\n"

#### (3) 값들의 중앙값으로 대체

In [35]:
male_df['height'] = male_df.groupby('days')['height'].transform(lambda x: x.fillna(x.median()))
male_df['weight'] = male_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.median()))
female_df['height'] = female_df.groupby('days')['height'].transform(lambda x: x.fillna(x.median()))
female_df['weight'] = female_df.groupby('days')['weight'].transform(lambda x: x.fillna(x.median()))

In [36]:
# 이상치 제거 함수
def remove_outliers(df, col):
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5*iqr
    upper_bound = q3 + 1.5*iqr
    df = df.loc[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

In [37]:
# 남성 생후 일 수 별로 그룹화
grouped_male = male_df.groupby('days')

# 각 생후 일 수별로 이상치 제거된 데이터프레임을 저장할 빈 데이터프레임 생성
cleaned_df_male = pd.DataFrame(columns=male_df.columns)

# 생후 일 수(days)별로 이상치 제거된 데이터를 cleaned_df_male에 추가
for name, group in grouped_male:
    group = remove_outliers(group, 'height')
    group = remove_outliers(group, 'weight')
    cleaned_df_male = pd.concat([cleaned_df_male, group])

In [38]:
# 여성 생후 일 수 별로 그룹화
grouped_female = female_df.groupby('days')

# 각 생후 일 수별로 이상치 제거된 데이터프레임을 저장할 빈 데이터프레임 생성
cleaned_df_female = pd.DataFrame(columns=female_df.columns)

# 생후 일 수(days)별로 이상치 제거된 데이터를 cleaned_df_female에 추가
for name, group in grouped_female:
    group = remove_outliers(group, 'height')
    group = remove_outliers(group, 'weight')
    cleaned_df_female = pd.concat([cleaned_df_female, group])

In [39]:
cleaned_df_male.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42762 entries, 17 to 43783
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       42762 non-null  object
 1   days      42762 non-null  object
 2   desc      22634 non-null  object
 3   __v       42762 non-null  object
 4   growth    42762 non-null  object
 5   height    42762 non-null  float64
 6   weight    42762 non-null  float64
 7   gender_M  42762 non-null  object
dtypes: float64(2), object(6)
memory usage: 2.9+ MB

In [40]:
cleaned_df_female.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36587 entries, 1 to 54771
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       36587 non-null  object
 1   days      36587 non-null  object
 2   desc      19273 non-null  object
 3   __v       36587 non-null  object
 4   growth    36587 non-null  object
 5   height    36587 non-null  float64
 6   weight    36587 non-null  float64
 7   gender_F  36587 non-null  object
dtypes: float64(2), object(6)
memory usage: 2.5+ MB

In [41]:
baby_growth_df = pd.concat([cleaned_df_male, cleaned_df_female], ignore_index=True)
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender_M,gender_F
0,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1,NaN
1,5ab023294ba8ac623954eec1,0,청각검사 정상,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1,NaN
2,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1,NaN
3,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",51.0,2.45,1,NaN
4,5bc8208036373c1537505616,1,기쁨이가 태어났어요!!\n\n이틀 전부터 진통이 왔는데 5분주기의 짧은 진통은\n안...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1,NaN
...,...,...,...,...,...,...,...,...,...
79344,6272a1c3e0ff637706e8a345,365,NaN,0,"{'weight': {'value': 9.6, 'unit': 'kg', 'std':...",74.6,9.60,NaN,1
79345,6225ee63f67e6cf242486ac2,365,"어제 돌잔치를 무사히 끝내고 내일이면 우리 연서의 첫 생일 이구나.. 뱃속 10달,...",0,"{'weight': {'value': 8.6, 'unit': 'kg', 'std':...",74.6,8.60,NaN,1
79346,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,NaN,1
79347,60e7cd722f0e2f96d8e1b099,365,젖병떼기 연습.\n빨대컵에 분유주기 시작.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,NaN,1
79348,5e4fdd2bbf7c2d77972da014,365,쪽쪽이 끊기 1일차\n\n낮잠 2번 잘잠\n\n밤잠 울진않고 손빨거나 쪽쪽이 빠는행...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",74.6,8.20,NaN,1

In [42]:
baby_growth_df['gender_F'].fillna(0, inplace=True)
baby_growth_df['gender_M'].fillna(0, inplace=True)

In [43]:
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender_M,gender_F
0,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1,0
1,5ab023294ba8ac623954eec1,0,청각검사 정상,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1,0
2,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1,0
3,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",51.0,2.45,1,0
4,5bc8208036373c1537505616,1,기쁨이가 태어났어요!!\n\n이틀 전부터 진통이 왔는데 5분주기의 짧은 진통은\n안...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1,0
...,...,...,...,...,...,...,...,...,...
79344,6272a1c3e0ff637706e8a345,365,NaN,0,"{'weight': {'value': 9.6, 'unit': 'kg', 'std':...",74.6,9.60,0,1
79345,6225ee63f67e6cf242486ac2,365,"어제 돌잔치를 무사히 끝내고 내일이면 우리 연서의 첫 생일 이구나.. 뱃속 10달,...",0,"{'weight': {'value': 8.6, 'unit': 'kg', 'std':...",74.6,8.60,0,1
79346,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0,1
79347,60e7cd722f0e2f96d8e1b099,365,젖병떼기 연습.\n빨대컵에 분유주기 시작.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0,1
79348,5e4fdd2bbf7c2d77972da014,365,쪽쪽이 끊기 1일차\n\n낮잠 2번 잘잠\n\n밤잠 울진않고 손빨거나 쪽쪽이 빠는행...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",74.6,8.20,0,1

In [44]:
baby_growth_df.isna().sum()

_id             0
days            0
desc        37442
__v             0
growth          0
height          0
weight          0
gender_M        0
gender_F        0
dtype: int64

In [45]:
baby_growth_df['gender'] = 0
baby_growth_df.loc[baby_growth_df['gender_M'] == True, 'gender'] = 1

In [46]:
baby_growth_df.drop(['gender_M', 'gender_F'], axis = 1, inplace = True)

In [47]:
baby_growth_df

,_id,days,desc,__v,growth,height,weight,gender
0,5ab0230abbd2ac53661aaa2a,0,NaN,0,"{'weight': {'unit': 'kg', 'value': 3.78, 'std'...",52.0,3.78,1
1,5ab023294ba8ac623954eec1,0,청각검사 정상,0,"{'weight': {'unit': 'kg', 'std': 3.78, 'value'...",52.0,3.78,1
2,58e81abdaa513c73561e5b40,0,NaN,0,"{'weight': {'std': 3.2, 'unit': 'kg', 'value':...",50.0,3.20,1
3,5bcba32fb9ede04f165f3ffd,1,NaN,0,"{'weight': {'unit': 'kg', 'std': 2.45, 'value'...",51.0,2.45,1
4,5bc8208036373c1537505616,1,기쁨이가 태어났어요!!\n\n이틀 전부터 진통이 왔는데 5분주기의 짧은 진통은\n안...,0,"{'height': {'std': 50, 'unit': 'cm', 'value': ...",50.0,2.80,1
...,...,...,...,...,...,...,...,...
79344,6272a1c3e0ff637706e8a345,365,NaN,0,"{'weight': {'value': 9.6, 'unit': 'kg', 'std':...",74.6,9.60,0
79345,6225ee63f67e6cf242486ac2,365,"어제 돌잔치를 무사히 끝내고 내일이면 우리 연서의 첫 생일 이구나.. 뱃속 10달,...",0,"{'weight': {'value': 8.6, 'unit': 'kg', 'std':...",74.6,8.60,0
79346,61768ecf383ebb9ee23d044d,365,NaN,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0
79347,60e7cd722f0e2f96d8e1b099,365,젖병떼기 연습.\n빨대컵에 분유주기 시작.,0,"{'weight': {'value': 9.4, 'unit': 'kg', 'std':...",74.6,9.40,0
79348,5e4fdd2bbf7c2d77972da014,365,쪽쪽이 끊기 1일차\n\n낮잠 2번 잘잠\n\n밤잠 울진않고 손빨거나 쪽쪽이 빠는행...,0,"{'weight': {'value': 8.2, 'unit': 'kg', 'std':...",74.6,8.20,0

In [48]:
baby_growth_df['days'].dtypes

dtype('O')

In [49]:
baby_growth_df['days'] = pd.to_numeric(baby_growth_df['days'])
baby_growth_df['days'].dtypes

dtype('int64')

### 데이터 모델링

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [57]:
# 독립 변수와 종속 변수 분리
X = baby_growth_df[['days','gender','weight']]
y = baby_growth_df['height']

# train/test 데이터 분리, 성별 비중 유지
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=X['gender'], random_state=42)

### (1) LinearRegression height 예측 모델

In [67]:
# linear regression 모델 학습
lr = LinearRegression()
lr.fit(X_train, y_train)

# test 데이터로 예측
y_pred = lr.predict(X_test)

# 모델 성능 평가
r2 = r2_score(y_test, y_pred)
print('R-squared:', r2)

# MSE 평가
mse = mean_squared_error(y_test, y_pred)
print("LinearRegression MSE:", mse)

# 정확도 평가
print("훈련 세트 정확도: {:.3f}".format(lr.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(lr.score(X_test, y_test)))

R-squared: 0.94736656441768
LinearRegression MSE: 1.9618462096449039
훈련 세트 정확도: 0.947
테스트 세트 정확도: 0.947

### (3) RandomForestRegressor - height 예측 모델

In [59]:
# RandomForestRegressor 모델 객체 생성
rf = RandomForestRegressor(random_state=42)

# 모델 학습
rf.fit(X_train, y_train)

# 모델 평가 - 예측값 생성
y_pred = rf.predict(X_test)

# 모델 평가 - 평균 제곱 오차 계산
mse = mean_squared_error(y_test, y_pred)
print("RandomForestRegressor Mean Squared Error:", mse)

# 정확도 평가
print("훈련 세트 정확도: {:.3f}".format(rf.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(rf.score(X_test, y_test)))

RandomForestRegressor Mean Squared Error: 0.22900828482437882
훈련 세트 정확도: 0.996
테스트 세트 정확도: 0.994

### (2) XGBRegressor - height 예측 모델

In [65]:
# 모델 객체 생성
xgb_model = XGBRegressor(objective='reg:squarederror', tree_method='hist', random_state=42)

# 모델 학습
xgb_model.fit(X_train, y_train)

# 검증용 데이터를 사용하여 예측 수행
y_pred = xgb_model.predict(X_test)

# 모델 성능 평가
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"xgboost MSE: {mse:.3f}")
print(f"xgboost MAE: {mae:.3f}")
print(f"xgboost R-squared: {r2:.3f}")

# 정확도 평가
print("훈련 세트 정확도: {:.3f}".format(xgb_model.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(xgb_model.score(X_test, y_test)))

xgboost MSE: 0.270
xgboost MAE: 0.224
xgboost R-squared: 0.993
훈련 세트 정확도: 0.993
테스트 세트 정확도: 0.993

### RandomForestRegressor hyperparameter tuning

In [61]:
from sklearn.model_selection import GridSearchCV

# 하이퍼파라미터 후보 값들
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [5, 10, 20],
    'min_samples_split': [2, 5, 10]
}

# GridSearchCV 수행
rf = RandomForestRegressor(random_state=42)
grid_search = GridSearchCV(rf, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# 최적의 하이퍼파라미터와 그 때의 성능 출력
print("Best hyperparameters:", grid_search.best_params_)
print("Best CV score:", -grid_search.best_score_)

# 최적의 하이퍼파라미터로 모델 학습 및 평가
rf_best = RandomForestRegressor(n_estimators=grid_search.best_params_['n_estimators'],
                                 max_depth=grid_search.best_params_['max_depth'],
                                 min_samples_split=grid_search.best_params_['min_samples_split'],
                                 random_state=42)
rf_best.fit(X_train, y_train)
y_pred_rf = rf_best.predict(X_test)
print("Test MSE:", mean_squared_error(y_test, y_pred_rf))

# 정확도 평가
print("훈련 세트 정확도: {:.3f}".format(rf_best.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(rf_best.score(X_test, y_test)))

Best hyperparameters: {'max_depth': 10, 'min_samples_split': 5, 'n_estimators': 200}
Best CV score: 0.2224208117451091
Test MSE: 0.22084659144247845
훈련 세트 정확도: 0.995
테스트 세트 정확도: 0.994

### (2) LightGBM - height 예측 모델

In [62]:
# LightGBM 모델링
lgbm = LGBMRegressor(random_state=42)
lgbm.fit(X_train, y_train)

# 예측값 생성
y_pred = lgbm.predict(X_test)

# MSE 평가
mse = mean_squared_error(y_test, y_pred)
print("lightGBM MSE:", mse)

# 정확도 평가
print("훈련 세트 정확도: {:.3f}".format(lgbm.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(lgbm.score(X_test, y_test)))

lightGBM MSE: 0.2597719181729348
훈련 세트 정확도: 0.993
테스트 세트 정확도: 0.993

### (2) GradientBoosting - height 예측 모델

In [63]:
# Gradient Boosting 모델 학습
gb_model = GradientBoostingRegressor(random_state=42)
gb_model.fit(X_train, y_train)

# 모델 예측
y_pred = gb_model.predict(X_test)

# 모델 평가
mse = mean_squared_error(y_test, y_pred)
print("GradientBoostingRegressor MSE:", mse)

# 정확도 평가
print("훈련 세트 정확도: {:.3f}".format(gb_model.score(X_train, y_train)))
print("테스트 세트 정확도: {:.3f}".format(gb_model.score(X_test, y_test)))

GradientBoostingRegressor MSE: 0.3160489057082565
훈련 세트 정확도: 0.992
테스트 세트 정확도: 0.992

In [64]:
# 사용자로부터 데이터 입력받기
input_days = int(input("생후 일 수를 입력하세요: "))
input_height = float(input("아기의 현재 키를 입력하세요 (단위: cm): "))
input_weight = float(input("아기의 현재 몸무게를 입력하세요 (단위: kg): "))
input_gender = input("아기의 성별을 입력하세요 (F/M): ")

# 입력받은 데이터로 1개월, 3개월, 6개월 뒤의 키 예측
if input_gender == 'F':
    gender = 0
elif input_gender == 'M':
    gender = 1
else:
    print("성별은 'F' 또는 'M' 중에서 입력해주세요.")
    exit()
# weight code merge
one_month_pred = rf_best.predict([[input_days + 30, gender, input_weight]]) # 30일 뒤 예측 weight 값 사용 예정
three_month_pred = rf_best.predict([[input_days + 90, gender, input_weight]]) # 90일 뒤 예측 weight 값 사용 예정
six_month_pred = rf_best.predict([[input_days + 180, gender, input_weight]]) # 180일 뒤 예측 weight 값 사용 예정

# 결과 출력
print(f"아기의 1개월 뒤 예상 키는 {one_month_pred[0]:.1f}cm 입니다.")
print(f"아기의 3개월 뒤 예상 키는 {three_month_pred[0]:.1f}cm 입니다.")
print(f"아기의 6개월 뒤 예상 키는 {six_month_pred[0]:.1f}cm 입니다.")

아기의 1개월 뒤 예상 키는 68.9cm 입니다.
아기의 3개월 뒤 예상 키는 72.6cm 입니다.
아기의 6개월 뒤 예상 키는 76.3cm 입니다.